.logo {
    display: inline-flex;

    &__img {
        margin-right: 0.6rem;
    }

    &__text {
        font-family: $Magra-Bold;
        font-size: 3.2rem;
        line-height: 1;
        color: $color-white;

        @include breakpoint($tablet-width) {
            font-size: 2.8rem;
        }
    }
}